/iso/
/bin/
/_build/
/orig/*.idb
/orig/*.id0
/orig/*.id1
/orig/*.nam
/orig/*.til
/orig/images/
/orig/*.sqlite*
/orig/callgraph.json
/orig/symbols/
/tools/duckstation/runtime/
/tools/gdb/
/status/runtime/
/status/ida-*.log
__pycache__/
*.pyc
/tools/archive/
